body{
    background: url("img/top_bg.png") no-repeat top,
                url("img/foot_bg.png") no-repeat bottom;
    background-size: 100% 65px, 100% 200px ;
}

#container{
    margin: 65px auto 200px;
    width: 950px;
    position: relative;
    top: 0;
    left: 0;
}

nav{
    margin-top: -10px;
}

#bg{
    width: 100%;
}

#logo {
    position: absolute;
    top: 0;
    left: -3px;
}

*{
    font-family: "Arial Rounded MT Bold", sans-serif;
}

ul{
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
}
ul li{
    display: table-cell;
    background: #8e2f28;
}

ul li a {
    display: block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    padding: 20px 10px 17px 20px;
    color: white;
}
ul li a:hover {
    background-size: 20% 100%;
    background: black url("img/rings.png") no-repeat right;
}
section{
    margin-top: 20px;
}

#ar1{
    float: left;
    width: 45%;
    margin-top: 10px;
    padding-right: 50px;
}

#ar2{
    float: left;
    width: 45%;
    margin-top: 10px;
}

#big{
    color: #8e2f28;
    font-size: 2em;
    font-weight: bold;
}


a{
    font-weight: bold;
    text-decoration: none;
    color: #8e2f28;
}


.image{
    float:left;
    width: 200px;
    height: 200px;
    padding-right: 30px;
    flex: 50%;
}

section img{
    width: 220px;
    height: 200px;
}

#cornerimg{
    position: absolute;
    right: 0;
    height: auto;
    width: auto;
    bottom: 102px;
}

 footer{
     padding-top: 30px;
     text-align: center;
     font-weight: bold;
 }

.clearfloat{
    clear: both;
}